extends ../layout/layout

block content 
	main.container 
		h1#title #{title}
		if message
			p#message(class=`${message.status ? "successMessage" : "errorMessage"}`) #{message.message}
		else 
			p Bienvenue sur notre site Web :)